@import '@styles/common.scss';

.Tag {
  padding: 2px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: cl('white');

  width: 150px;
  text-align: center;
  border-radius: 14px;
  border: 3px dotted cl('white');

  &_NEW {
    background-color: cl('main');
  }

  &_ACTIVE {
    background-color: cl('success');
  }

  &_PENDING {
    background-color: cl('warning');
  }

  &_FINISHED {
    background-color: cl('secondary');
  }

  &_BLOCKED {
    background-color: cl('black');
  }

  &_CANCELED {
    background-color: cl('danger');
  }

  &_BOOK_CANCELED {
    background-color: cl('danger-light');
  }
}
