@import '@styles/common.scss';

.Tag {
  padding: 2px 8px;
  border-radius: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: cl('white');
  width: fit-content;

  &_NEW {
    background-color: cl('main');
  }

  &_ACTIVE {
    background-color: cl('success');
  }

  &_PENDING {
    background-color: cl('warning');
  }

  &_FINISHED {
    background-color: cl('secondary');
  }

  &_BLOCKED {
    background-color: cl('black');
  }

  &_CANCELED {
    background-color: cl('danger');
  }
}
