@import '@styles/common.scss';

.ScrollContainer {
  width: 100%;
  height: 985px;
  padding-right: 5px;
  position: relative;
  overflow: hidden;

  background-color: cl('white');
  border-radius: 72px;
  box-shadow: 0 4px 25px cl('black', 0.15);


  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    z-index: 2;

    @include break-xl() {
      height: 20px;
    }
  }

  &:before {
    top: 0;
    background: linear-gradient(180deg, cl('white') 60%, cl('white', 0) 100%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(0deg, cl('white') 60%, cl('white', 0) 100%);
  }

  @include break-xl() {
    border-radius: 25px;
    padding-right: 0;
  }

  &_Unstyled {
    border-radius: 0;
    height: 100%;
  }

  &__ScrollbarContainer {
    width: 100%;
    height: 100%;
    padding: 40px 35px 40px 40px;
    border-radius: 73px;

    &_Unstyled {
      border-radius: 0;
    }

    @include break-xl() {
      padding: 20px 15px 20px 20px;
      border-radius: 25px;
    }


    @include break-sm(){
      padding: 8px 8px 8px 8px;
    }
  }

}
