@import '@styles/common.scss';

.ModalBase {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;

  background-color: cl('white');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;


  &__ContentWrapper {
    width: 100%;
    height: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;

    padding: 0 60px;
  }

  &__Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: cl('white');
    margin-bottom: 80px;

    &:after {
      content: '';
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: -40px;
      background: linear-gradient(180deg, cl('white') 30%, cl('white', 0) 100%);
    }
  }

  &__Title {
    text-align: center;
    margin-bottom: 80px;
  }

  &__Content {
    height: auto;
    max-height: 100%;
  }
}
