@import '@styles/common.scss';

.Checkbox {

  display: flex;

  border: 2px solid cl('transparent');

  &:hover {
    cursor: pointer;
  }

  &_Error {
    border-color: cl('danger');
  }

  &__Input {
    min-width: 20px;
    min-height: 20px;
    border-radius: 4px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__Text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: cl('dark');
  }
}
