@import '@styles/common.scss';

.Common {
  &__PageTitle {
    text-align: center;
    margin-bottom: 60px;
  }

  &__FiltersForm {
    margin-bottom: 120px;

    &_Admin {
      margin-top: 120px;

      @include break-xl() {
        margin-top: 0;
      }
    }


    @include break-xl() {
      margin-bottom: 60px;
    }
  }

  &__Row {
    display: flex;

    &_Center {
      justify-content: center;
    }
  }
}
