@import '@styles/common.scss';

.Input {

  &__Wrapper {
    height: 56px;
    width: 100%;
    position: relative;

    &_Textarea {
      height: auto;
    }
  }

  &__Input {
    width: 100%;
    height: 100%;
    padding: 24px 13px 8px;
    border: 2px solid cl('main-lightest');
    border-radius: 10px;
    font-size: 16px;

    box-sizing: border-box;
    outline: none;
    caret-color: cl('main');
    cursor: pointer;
    transition: all .3s ease;
    overflow: hidden;

    &_Disabled {

      opacity: 0.5;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:focus + .Input__Placeholder,
    &:not(:placeholder-shown) + .Input__Placeholder {
      top: 17px;
      font-weight: 600;
      font-size: 12px;
    }

    &:focus + .Input__Placeholder_Textarea {
        top: 14px;
    }

    &:focus + .Input__Placeholder, {
      color: cl('main');
    }

    &:hover {
      border-color: cl('main');
      cursor: pointer;
    }

    &:focus {
      border-color: cl('main');
    }
  }

  &__Placeholder {
    position: absolute;
    top: 28px;
    transform: translateY(-50%);
    color: cl('secondary');
    left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all .3s ease;
    pointer-events: none;
    white-space: nowrap;

    &_Textarea{
      width: 93%;
      background-color: cl('white');
    }
  }

  &__Textarea {
    height: 250px;
    resize: none;
  }

  &__FileWrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid cl('transparent')
  }

  &__ImagesContainer {
    margin-top: 20px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
  }

  &__LoadBtn {
    width: fit-content;
  }

  &__ImageWrapper {
    margin: 0 5px 5px 0;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  &__LoadedImage {
    width: 195px;
    height: 160px;
    object-fit: cover;
  }

  &__DeleteImageBtn {
    min-width: 25px;
    min-height: 25px !important;
    max-width: 25px;
    max-height: 25px;
    position: absolute;

    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    padding: 0;
    color: cl('white');

    background-color: cl('transparent');
    transition: all 0.3s ease;
    border: none;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0px 4px 4px cl('black', 0.3);
    }
  }

  &__ImageCounter {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 20px;
    min-height: 20px;
    background-color: cl('white', 0.5);

    text-align: center;
    color: cl('white');
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    padding: 0 2px;

    border-top-left-radius: 10px;
  }

  &_Error {
    border-color: cl('danger') !important;
  }
}
