@import '@styles/common.scss';

.FiltersForm {
  &__FormControls {
    display: flex;
    width: 100%;
    margin-right: 35px;
    align-items: center;

    @include break-xl() {
      display: block;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  &__ControlsForm {
    display: flex;
    width: 100%;
    margin-right: 35px;

    &:last-child {
      margin-right: 0
    }

    [data-component] {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include break-xl() {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 8px;

      [data-component] {
        margin-right: 0;
        margin-bottom: 8px;


        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__HiddenFilters {

    @include break-xl() {
      display: none;
    }

    &_FilterBTN{
      @include break-xl-up() {
        display: none;
      }
    }
  }
}
