@import '@styles/common.scss';

.Tabs {
  &__List {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__Tab {
    padding: 6px 16px 2px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: cl('black');
    border-bottom: 4px solid cl('transparent');
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      border-color: cl('main-lightier');
      transform: none;
      box-shadow: none;
      font-weight: 600;
    }

    &_Selected {
      border-color: cl('main') !important;
      color: cl('main');
      font-weight: 600;
    }

    &_Big {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
    }
  }
}
