@import '@styles/common.scss';

.Logo {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: 0px 4px 4px cl('black', 0.3);
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__Udm {
    color: cl('main');
  }

  &_DesctopOnly {
    @include break-xl() {
      display: none;
    }
  }

  &_MobileOnly {
    @include break-xl-up() {
      display: none;
    }
  }

}
