@import '@styles/common.scss';

.TourSlider {

  &__Wrapper {
    width: 100%;
    user-select: none;
  }

  &__MainSlider {
    margin-bottom: 20px;
  }

  &__MainSlide {
    display: flex;
    justify-content: center;
  }

  &__MainSlideImage {
    width: 100%;
    max-width: 645px;
    height: 100%;
    max-height: 420px;

    object-fit: cover;
    border-radius: 25px;
  }

  &__ThumbSlide {
    width: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__ThumbSlideImage {
    width: 200px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;

    @include break-xl() {
      width: 150px;
      height: 110px;
    }
  }
}
