@import '@styles/common.scss';

.AllTours {
  width: 100%;
  margin-top: 95px;

  @include break-xl() {
    margin-top: 40px;
  }

  &__TitleWrap {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

    @include break-xl() {
      margin-bottom: 20px;
    }
  }

  &__Promo{
    color: cl('secondary-light');
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
  }

}
