@import '@styles/common.scss';

.SignupModal {
  &__FormContainer {
    align-items: center;

  }

  &__FormFields {
    width: 100%;
    margin-bottom: 90px;

    @include break-xl() {
      margin-bottom: 40px;
    }
  }
}
