@import '@styles/common.scss';

.FormContainer {
  display: flex;
  width: 100%;

  &_Row {
    justify-content: space-between;
    align-items: center;

    [data-component] {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include break-xl() {
      flex-direction: column;

      [data-component] {
        margin-right: 0;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &_Column {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    [data-component] {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include break-xl() {

      [data-component] {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}
